.alert-container {
    margin: 15px;
    display: flex;
    background-color: #edfeee;
    border: 2px solid #5cb660;
    position: absolute;
    left: 550px;
    top: 10px;
    border-radius: 10px;
  }
  
  .symbol-container {
    width: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  
  .symbol {
    /* font-size: 1.75rem; */
    height: 25px;
    width: 25px;
  }
  
  .description-container {
    font-size: 1rem;
    margin: 5px 10px;
    width: 100%;
  }
  
  .description-text {
    font-family: sans-serif;
    font-weight: 600;
  }
  
  .symbol-close-link {
    margin-top: 5px;
    cursor: pointer;
  }

  .x-symbol {
    color: rgb(124, 124, 124);
    width: 9px;
    margin-right: 8px;
  }